<div class="main-content">
    <div class="container-fluid">
        <div class="row">
           
            <div class="col-md-12">
                <div class="card card-plain">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title mt-0"> Informações</h4>
                        <p class="card-category">Lista de Informações</p>
                    </div>
                    
                    <div class="card-body">
                        <div class="col-md-12">
                            <button [routerLink]="'/informacao/cadastrar/0/0'" type="submit" class="btn btn-danger pull-right">Cadastrar Informação</button>
                        </div>
                        
                        <div class="table-responsive">
                            <table mat-table [dataSource]="dataSource" class="table table-hover">

                                <ng-container matColumnDef="Título">
                                    <th mat-header-cell *matHeaderCellDef> Título </th>
                                    <td mat-cell *matCellDef="let element"> {{element.titulo}} </td>
                                </ng-container>

                                <ng-container matColumnDef="Informação">
                                    <th mat-header-cell *matHeaderCellDef> Informação </th>
                                    <td mat-cell *matCellDef="let element"> {{element.informacao}} </td>
                                </ng-container>

                                <ng-container matColumnDef="Pessoas">
                                    <th mat-header-cell *matHeaderCellDef> Pessoas </th>
                                    <td mat-cell *matCellDef="let element"> 
                                        <p *ngFor="let pessoa of element.pessoas" >
                                            {{pessoa.nome}} 
                                        </p>
                                       </td>
                                </ng-container>

                                <ng-container matColumnDef="Veículo">
                                    <th mat-header-cell *matHeaderCellDef> Veículo </th>
                                    <td mat-cell *matCellDef="let element"> 
                                        <p *ngFor="let veiculo of element.veiculos" >
                                            {{veiculo.descricao}} 
                                        </p>
                                       </td>
                                </ng-container>

                                <ng-container matColumnDef="Endereço">
                                    <th mat-header-cell *matHeaderCellDef> Endereço </th>
                                    <td mat-cell *matCellDef="let element"> {{element.endereco}} </td>
                                </ng-container>

                                <ng-container matColumnDef="Atualização">
                                    <th mat-header-cell *matHeaderCellDef> Atualização </th>
                                    <td mat-cell *matCellDef="let element"> 
                                        {{element.dataAtualizacao  | date:'short' }}
                                    </td>
                                    
                                </ng-container>

                                <ng-container matColumnDef="Ações">
                                    <th mat-header-cell *matHeaderCellDef> Ações </th>
                                    <td mat-cell *matCellDef="let element"> </td>
                                </ng-container>
                                
                                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                            </table>

                            <div fxFlexAlign="end" fxFlex="100">
                                <mat-paginator #paginator [pageSize]="50" [pageSizeOptions]="[5, 10, 20 , 50, 100]" fxFlexAlign="end">
                                </mat-paginator>
                            </div>
                    
                            <div *ngIf="dataSource.data.length === 0">Sem dados para exibição</div>
                            
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
  </div>
  