<div class="main-content">
    <div class="container-fluid">



        <div class="col-lg-12 col-md-12">
            <div class="card">
                <div class="card-header card-header-tabs card-header-info">
                    <div class="nav-tabs-navigation">
                        <div class="nav-tabs-wrapper">
                            <span class="nav-tabs-title">Cadastro de Informação:</span>
                            <ul class="nav nav-tabs" data-tabs="tabs">
                                <li class="nav-item">
                                    <a mat-button class="nav-link active" href="#dados" data-toggle="tab">
                                        <i class="material-icons">badge</i> Dados Gerais
                                        <div class="ripple-container"></div>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a mat-button class="nav-link" href="#fotos" data-toggle="tab">
                                        <i class="material-icons">photo_library</i> Fotos
                                        <div class="ripple-container"></div>
                                    </a>
                                </li>

                            </ul>
                        </div>
                    </div>
                </div>
                <form [formGroup]="formulario">
                    <div class="card-body">
                        <div class="tab-content">
                            <div class="tab-pane active" id="dados">

                                <div class="row">
                                    <div class="col-md-5">
                                        <!-- <label>Título Resumido</label> -->
                                        <mat-form-field class="example-full-width">
                                            <input matInput placeholder="Título Resumido" name="titulo" id="titulo"
                                                formControlName="titulo">
                                        </mat-form-field>
                                    </div>
                                    <div class="col-md-3">

                                    </div>

                                </div>


                                <div class="row">
                                    <div class="col-md-12">
                                        <label>Informação detalhada</label>
                                        <mat-form-field class="Informação Completa">
                                            <textarea rows="5" matInput
                                                placeholder="Escreva aqui toda a informação necessária"
                                                name="detalhe" id="detalhe"
                                                formControlName="detalhe"></textarea>
                                        </mat-form-field>

                                    </div>
                                </div>


                                <div class="row">
                                    <div class="col-md-12">
                                        <label>Pessoas Envolvidas</label>
                                        <mat-form-field class="example-chip-list" appearance="fill">
                                            <mat-label>Pessoas</mat-label>
                                            <mat-chip-list #chipListPessoas aria-label="Pessoa seleção">
                                                <mat-chip *ngFor="let pessoa of pessoas" (removed)="remove(pessoa)">
                                                    {{pessoa.name}}
                                                    <button matChipRemove>
                                                        <mat-icon>cancel</mat-icon>
                                                    </button>
                                                </mat-chip>
                                                <input placeholder="Nova Pessoa..." [matChipInputFor]="chipListPessoas"
                                                    [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                                                    [matChipInputAddOnBlur]="addOnBlur"
                                                    (matChipInputTokenEnd)="add($event)">
                                            </mat-chip-list>
                                        </mat-form-field>

                                    </div>
                                </div>


                                <div class="row">
                                    <div class="col-md-12">
                                        <label>Veículos Envolvidos</label>
                                        <mat-form-field class="example-chip-list" appearance="fill">
                                            <mat-label>Veículos</mat-label>
                                            <mat-chip-list #chipListVeiculos aria-label="Veículo seleção">
                                                <mat-chip *ngFor="let veiculo of veiculos"
                                                    (removed)="removeVeiculo(veiculo)">
                                                    {{veiculo.name}}
                                                    <button matChipRemove>
                                                        <mat-icon>cancel</mat-icon>
                                                    </button>
                                                </mat-chip>
                                                <input placeholder="Novo veículo..."
                                                    [matChipInputFor]="chipListVeiculos"
                                                    [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                                                    [matChipInputAddOnBlur]="addOnBlur"
                                                    (matChipInputTokenEnd)="addVeiculo($event)">
                                            </mat-chip-list>
                                        </mat-form-field>

                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <mat-form-field class="example-full-width">
                                            <input matInput placeholder="Endereço" name="endereco" id="endereco"
                                                formControlName="endereco">
                                        </mat-form-field>
                                    </div>

                                    <div class="col-md-6">
                                        <mat-form-field class="example-full-width">
                                            <input matInput placeholder="Região" name="regiao" id="regiao"
                                                formControlName="regiao">
                                        </mat-form-field>
                                    </div>

                                    <div class="col-md-12">
                                        <label>Informe a localização no mapa</label>
                                        <agm-map [latitude]="lat" [longitude]="lng" [zoom]="zoom" [mapTypeId]=""
                                            (mapClick)="marcadorClick($event)">

                                            <agm-marker *ngFor="let m of markers; let i = index"
                                                (markerClick)="clickedMarker(m.label, i)" [latitude]="m.lat"
                                                [longitude]="m.lng" [label]="m.label" [markerDraggable]="m.draggable">

                                                <agm-info-window>
                                                    <strong>InfoWindow content</strong>
                                                </agm-info-window>

                                            </agm-marker>
                                        </agm-map>
                                    </div>
                                </div>





                            </div>

                            <div class="tab-pane" id="fotos">

                                <div class="col-md-12">
                                    <input type="file" multiple (change)="detectFiles($event)" accept="image/*">
                                </div>

                                <div class="col-md-12">
                                    <ng-container *ngFor="let url of urls; let i = index">
                                        <div class="col-md-12">
                                            <img [src]="url" class="rounded mb-3" width="180">
                                            <button (click)="removerImagem(i)" title="Remover imagem" class="btn-danger pull-center">
                                                <mat-icon>delete</mat-icon>
                                            </button>
                                        </div>
                                    </ng-container>

                                </div>

                            </div>
                        </div>

                        <button (click)="salvar()" mat-raised-button type="submit"
                            class="btn btn-info pull-center">Salvar</button>
                        <div class="clearfix"></div>

                    </div>
                </form>
            </div>

        </div>

    </div>
</div>