<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title">Informações no Mapa</h4>
                        <p class="card-category">Complete your profile</p>
                    </div>
                    <div class="card-body">
                        <form [formGroup]="formulario">
                            <div class="row">
                                <div class="col-md-5">
                                    <mat-form-field class="example-full-width">
                                        <input matInput type="text" name="campoPesquisa" id="campoPesquisa"
                                            formControlName="campoPesquisa" placeholder="Digite aqui para pesquisar">
                                    </mat-form-field>
                                </div>
                                <div class="col-md-3">
                                    <mat-form-field appearance="fill">
                                        <mat-label>Insira um intervalo de datas</mat-label>
                                        <mat-date-range-input [formGroup]="dataRange" [rangePicker]="picker">
                                            <input matStartDate formControlName="start" placeholder="Data Inicial">
                                            <input matEndDate formControlName="end" aplceholder="Data Final">
                                        </mat-date-range-input>
                                        <mat-hint>MM/DD/YYYY – MM/DD/YYYY</mat-hint>
                                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                        <mat-date-range-picker #picker></mat-date-range-picker>

                                        <mat-error *ngIf="dataRange.controls.start.hasError('matStartDateInvalid')">
                                            Início inválido</mat-error>
                                        <mat-error *ngIf="dataRange.controls.end.hasError('matEndDateInvalid')">Fim
                                            inválido</mat-error>
                                    </mat-form-field>
                                </div>

                            </div>

                            <button mat-raised-button class="btn btn-danger " (click)="pesquisar();">Pesquisar</button>
                            <div class="clearfix"></div>
                        </form>



                        <agm-map [latitude]="lat" [longitude]="lng" [zoom]="15" [mapTypeId]=""
                            (mapClick)="marcadorClick($event)">


                            !-- MARCADOR DE PERGUNTAS -->
                            <ng-container *ngIf="latMenu !== 0;">
                                <agm-marker [latitude]="latMenu" [longitude]="longMenu"
                                    [iconUrl]="'http://maps.google.com/mapfiles/kml/pal3/icon43.png'" [color]="blue">
                                    <agm-info-window [isOpen]="true">
                                        <p style=" color: black;"><a
                                                [routerLink]="['/informacao/cadastrar', latMenu , longMenu]">Inserir
                                                Informação
                                                Nesse Local</a></p>
                                        <p style=" color: black;"><a
                                                [routerLink]="['/informacao/cadastrar' , latMenu , longMenu, 'carro']">Inserir informação de veículo</a></p>
                                        <p style=" color: black;"><a
                                                [routerLink]="['/informacao/cadastrar' , latMenu , longMenu , 'pessoa']">Inserir informação de pessoa
                                                </a></p>

                                    </agm-info-window>
                                </agm-marker>
                            </ng-container>

                            <!-- Marcador de Informações -->
                            <ng-container *ngFor="let informe of marcadoresInforme" >
                                <agm-marker *ngIf="informe.marcadores[0].tipo === 'carro'"
                                    [latitude]="informe.marcadores[0].latitude"
                                    [longitude]="informe.marcadores[0].longitude"
                                    [iconUrl]="'http://maps.google.com/mapfiles/kml/pal4/icon15.png'"
                                    [title]="'Informação'">
                                    <agm-info-window [isOpen]="true">
                                        <p style=" color: black;">{{informe.titulo}}</p>
                                        <p style=" color: black;">{{informe.detalhe}}</p>
                                        <p style=" color: black;">{{informe.marcadores[0].endereco?.descricao}}</p>
                                        <p style=" color: black;">Última atualização: {{informe.dataAlteracao | date:'medium' : "" : 'pt-BR'}}</p>
                                        <p style=" color: blue;"><a target="_blank" href="https://www.google.com/maps/search/?api=1&query={{informe.marcadores[0].latitude}}%2C{{informe.marcadores[0].longitude}}">Abrir no mapa</a></p>
                                    </agm-info-window>
                                </agm-marker>
                                <agm-marker *ngIf="informe.marcadores[0].tipo === 'pessoa'"
                                    [latitude]="informe.marcadores[0].latitude"
                                    [longitude]="informe.marcadores[0].longitude"
                                    [iconUrl]="'http://maps.google.com/mapfiles/kml/pal2/icon14.png'"
                                    [title]="'Informação'">
                                    <agm-info-window [isOpen]="true">
                                        <p style=" color: black;">{{informe.titulo}}</p>
                                        <p style=" color: black;">{{informe.detalhe}}</p>
                                        <p style=" color: black;">{{informe.marcadores[0].endereco?.descricao}}</p>
                                        <p style=" color: black;">Última atualização: {{informe.dataAlteracao | date:'medium' : "" : 'pt-BR'}}</p>
                                        <p style=" color: blue;"><a target="_blank" href="https://www.google.com/maps/search/?api=1&query={{informe.marcadores[0].latitude}}%2C{{informe.marcadores[0].longitude}}">Abrir no mapa</a></p>
                                    </agm-info-window>
                                </agm-marker>
                                <agm-marker *ngIf="informe.marcadores[0].tipo === 'informacao'"
                                [latitude]="informe.marcadores[0].latitude"
                                [longitude]="informe.marcadores[0].longitude"
                                [iconUrl]="'http://maps.google.com/mapfiles/kml/pal4/icon49.png'"
                                [title]="'Informação'">
                                <agm-info-window [isOpen]="true">
                                    <p style=" color: black;">{{informe.titulo}}</p>
                                    <p style=" color: black;">{{informe.detalhe}}</p>
                                    <p style=" color: black;">{{informe.marcadores[0].endereco?.descricao}}</p>
                                    <p style=" color: black;">Última atualização:  {{informe.dataAlteracao | date:'medium' : "" : 'pt-BR'}}</p>
                                    <p style=" color: blue;"><a target="_blank" href="https://www.google.com/maps/search/?api=1&query={{informe.marcadores[0].latitude}}%2C{{informe.marcadores[0].longitude}}">Abrir no mapa</a></p>
                                </agm-info-window>
                            </agm-marker>

                            </ng-container>



                            


                        </agm-map>


                    </div>
                </div>
            </div>

        </div>
    </div>
</div>